<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="rest" address="http://localhost:999/Service" binding="webHttpBinding" behaviorConfiguration="defaultBehaviorConfiguration" contract="Client.IService" />
    </client>
    <bindings/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultBehaviorConfiguration">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
